target
!.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.run
*.env
DocumentDB.Spatial.Sql.dll
Microsoft.Azure.Documents.ServiceInterop.dll

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

application-default.properties

node_modules
node

**/*.iml
**/target
**/*.log
keys/
**/wxCert

changed.projects
**/java-generated/

### Jrebel ###
*rebel.xml
*rebel-remote.xml
*.rebel.xml.bak
*.rebel-remote.xml.bak

### Other ###
init.sh
